@import './bulma-theme';

@import "~bulma/bulma";
@import "~buefy/src/scss/buefy";

@import "./divider";
@import "./action-buttons";
@import "./markdown.scss";


.level-card-container {
  @include tablet {
    display: grid;
    grid-gap: 16px 16px;
    grid-auto-flow: row;
  }
  @include mobile {
    .content-card-wrap:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &.large {
    @include tablet-only {
      grid-template-columns: repeat(2, auto);
    }
    @include desktop-only {
      grid-template-columns: repeat(3, auto);
    }
    @include widescreen-only {
      grid-template-columns: repeat(3, auto);
    }
    @include fullhd {
      grid-template-columns: repeat(4, auto);
    }
  }
  &.small {
    @include tablet-only {
      grid-template-columns: repeat(2, auto);
    }
    @include desktop-only {
      grid-template-columns: repeat(2, auto);
    }
    @include widescreen-only {
      grid-template-columns: repeat(2, auto);
    }
    @include fullhd {
      grid-template-columns: repeat(3, auto);
    }
  }
}

.box {
  &.is-gradient {
    background: radial-gradient(circle farthest-corner at 0 0, transparent, $box-background-color 256px), var(--box-background-gradient, linear-gradient(to right bottom, #acb6e5, #86fde8));
  }
  .box-section {
    margin-bottom: 0.86rem;
  }
  .box-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .box-subtitle {
    color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
}

.label {
  text-transform: uppercase;
  font-size: 12px !important;
}

.box .button, .button.is-box-button {
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.2s $easing;
  background-color: rgb(63, 66, 78);
  &:hover:not(.is-disabled):not([disabled]), &.is-hovered:not(.is-disabled):not([disabled]) {
    transform: translateY(1px);
  }
  span {
    font-size: $size-title;
  }
  &.is-transparent {
    background-color: hsla(0,0%,100%,.1);
    &:hover {
      background-color: hsla(0,0%,100%,.3);
    }
  }
}


.table {
  thead {
    text-transform: uppercase;
  }
}


.button {
  .icon {
    // Otherwise the icon would be too big
    svg.fa-2x {
      font-size: 1em;
    }
  }
  &.is-title {
    span {
      font-weight: bold;
      text-transform: uppercase;
      font-size: $size-title;
    }
  }
  &.is-download {
    background-image: linear-gradient(to right, $theme4, $theme6);
    background-size: 200% 100%;
    color: $white;
  }
  &.is-browse {
    background-image: linear-gradient(270deg, #21d4fd, #b721ff);
    background-size: 400% 400%;
    animation: flow 25s ease infinite;
    color: $white;
    @keyframes flow {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
    }
    &:hover {
      transform: scale(0.98, 0.98);
    }

    &:active, &:focus {
      box-shadow: $ele3;
      transform: scale(0.95, 0.95);
    }
  }
  &.is-large {
    &:hover {
      transform: scale(0.98, 0.98);
    }
    &:active, &:focus {
      transform: scale(0.95, 0.95);
    }
  }
}

.tabs.is-toggle a {
  background-color: hsla(0,0%,100%,.1);
  font-weight: bold;
  text-transform: uppercase;
}

.profile-link {
  display: flex;
}

.tabs.is-toggle li {
  &:first-child a {
    border-top-left-radius: $tabs-toggle-link-radius;
    border-bottom-left-radius: $tabs-toggle-link-radius;
  }
  &:last-child a {
    border-bottom-right-radius: $tabs-toggle-link-radius;
    border-top-right-radius: $tabs-toggle-link-radius;
  }
}

.dropdown-content {
  padding: 0;
  border-radius: $radius;
  overflow: hidden;
}
