@import "~bulma/sass/utilities/_all";

$primary: #4568dc;
$link: #4568dc;
$primary-invert: findColorInvert($primary);
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
);

$family-sans-serif: "Nunito", "M PLUS Rounded 1c", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$grey-darker:  hsl(226, 68%, 6%);
$grey-dark:    hsl(226, 15%, 14%);
$grey:         hsl(226, 15%, 19%);
$grey-light:   hsl(226, 15%, 38%);
$grey-lighter: hsl(226, 15%, 55%);

$white-ter:    hsl(0, 0%, 71%);
$white-bis:    hsl(0, 0%, 86%);
$white:        hsl(0, 0%, 100%);

$box-color: $white;
$box-background-color: $grey;
$box-shadow: 0 10px 20px hsla(0, 0%, 0%, .10), 0 3px 6px hsla(0, 0%, 0%, .066);
$box-padding: 1.5rem 2rem;

$text: $white-ter;
$text-invert: findColorInvert($text);
$text-light: $white-bis;
$text-strong: $white;

$background: $grey-dark;

$footer-background-color: transparent;

$section-padding: 16px;
$section-padding-medium: 48px;
$section-padding-large: 96px;

$link: $white-ter;

$label-color: $white-ter;
.label {
  text-transform: uppercase;
  font-size: 12px !important;
}

$input-color: $white-bis;
$input-background-color: $grey-darker;

$input-border-color: $grey-darker;
$input-hover-border-color: $grey-light;
$input-focus-border-color: $grey-lighter;

$input-disabled-color: $white-ter;
$input-disabled-background-color:  $grey-dark;
$input-disabled-border-color: $grey;

$dropdown-content-background-color: $grey;
$dropdown-content-arrow: $link;

$dropdown-item-color: $white-ter;
$dropdown-item-hover-color: $white-bis;
$dropdown-item-hover-background-color: $grey-dark;
$dropdown-item-active-color: $white;
$dropdown-item-active-background-color: $link;

$easing: cubic-bezier(0.215, 0.61, 0.355, 1);

$button-color: $text;
$button-hover-color: $text-light;
$button-active-border-color: $grey-lighter;
$button-active-color: $text-strong;

$button-background-color: $grey;
$button-border-color: $grey;
$button-hover-border-color: $grey-light;
.box {
  .button {
    background: rgb(63, 66, 78);
    color: $white-bis;
    border: none;
    text-transform: uppercase;
    transition: 0.2s $easing;
    font-size: 12px;
    font-weight: bold;
    padding: 16px 12px;
    &:hover {
      background: rgb(106, 108, 116);
      color: $white;
      transform: translateY(1px);
    }
  }
}


$table-color: $white-bis;
$table-background-color: $grey;
$table-head-cell-color: $white-ter;
$table-cell-border: 1px solid $white-ter;
$table-row-hover-background-color: $grey-light;
