@import "~bulma/sass/utilities/_all";

$primary: #4568dc;
$link: #4568dc;
$primary-invert: findColorInvert($primary);
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
);

$text: $white-ter;
$text-invert: findColorInvert($text);
$text-light: $grey-lighter;
$text-strong: $white;

$background: $grey-dark;

$navbar-background-color: transparent;
$navbar-item-color: $grey-light;
$navbar-item-active-color: $white;
$navbar-item-hover-color: $grey-lighter;
$navbar-burger-color: $grey-light;

$footer-background-color: transparent;

$section-padding: 16px;
$section-padding-medium: 48px;
$section-padding-large: 96px;
