@import './bulma-theme';

@import "~bulma/sass/base/helpers";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/components/menu";
@import "~bulma/sass/layout/footer";
@import "~bulma/sass/layout/section";
@import "~bulma/sass/elements/tag";

// reset
ul {
  list-style: none;
  padding: 0;
}


.level-card-container {
  padding-top: 16px;
  padding-bottom: 16px;
  @include tablet {
    display: grid;
    grid-gap: 16px 16px;
    grid-auto-flow: row;
  }
  @include mobile {
    .card-wrap {
      margin-bottom: 16px;
      margin-top: 16px;
    }
  }
  &.large {
    @include tablet-only {
      grid-template-columns: repeat(2, auto);
    }
    @include desktop-only {
      grid-template-columns: repeat(3, auto);
    }
    @include widescreen-only {
      grid-template-columns: repeat(3, auto);
    }
    @include fullhd {
      grid-template-columns: repeat(4, auto);
    }
  }
  &.small {
    @include tablet-only {
      grid-template-columns: repeat(2, auto);
    }
    @include desktop-only {
      grid-template-columns: repeat(2, auto);
    }
    @include widescreen-only {
      grid-template-columns: repeat(2, auto);
    }
    @include fullhd {
      grid-template-columns: repeat(3, auto);
    }
  }
}

