@import "~ant-design-vue/dist/antd.less";

html, .scroll-bar {
  scrollbar-color: @shade2 @shade1;
  scrollbar-width: thin;
}

html {
  overflow-x: hidden;
}

body {
  &::-webkit-scrollbar {
    background-color: @shade1;
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: @shade2;
    transition: background-color 0.5s ease;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: @shade4;
  }
}
