@import "~ant-design-vue/dist/antd.less";

html, .scroll-container {
  scrollbar-color: @shade1 @shade1;
  scrollbar-width: thin;
}

html, body {
  overflow-x: hidden;
}

&::-webkit-scrollbar {
  background-color: @shade1;
  opacity: 0;
  width: 4px;
  height: 4px;
}
&::-webkit-scrollbar-thumb {
  background-color: @shade4;
  transition: background-color 0.5s ease;
}
&::-webkit-scrollbar-thumb:hover {
  background-color: @shade5;
}
