// Markdown editor
.editor-toolbar {
  padding: 0 4px;
  border: none;
}
.editor-toolbar button {
  color: #fff !important;
}
.editor-toolbar button.active, .editor-toolbar button:hover {
  background: $input-background-color !important;
  border-color: rgba(0, 0, 0, 0) !important;
}
.editor-toolbar.fullscreen {
  background: #343a40 !important;
}
.CodeMirror-cursor {
  border-left: 1px solid $input-color;
}
.editor-preview-side {
  color: $input-color !important;
  background-color: $input-background-color;
  border: none;
}
.CodeMirror {
  border-radius: 2px;
  background: $input-background-color;
  color: $input-color;
  border-color: $input-border-color;
  transition: all 0.3s ease;
}
.CodeMirror:focus-within {
  border-color: $input-focus-border-color;
}
.markdown-editor {
  line-height: initial;
}
.editor-preview  {
  color: $input-color !important;
  background: $input-background-color;
}
