// The Cytoid Theme.
// For all customizable variables, see
// https://github.com/vueComponent/ant-design-vue/blob/master/components/style/themes/default.less

@font-family: 'Nunito', sans-serif;
@primary-color: #4568dc;
@link-color: #4568dc;

// Ant Design overrides

.ant-card {
  border-radius: 4px;
}

.ant-form-extra {
  font-size: @font-size-sm;
}

.ant-input-prefix > .anticon {
  color: @input-placeholder-color;
}

// Custom styles

.ele1 {
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, .12), 0 1px 2px hsla(0, 0%, 0%, .24);
}

.ele2 {
  box-shadow: 0 3px 6px hsla(0, 0%, 0%, .15), 0 2px 4px hsla(0, 0%, 0%, .12);
}

.ele3 {
  box-shadow: 0 10px 20px hsla(0, 0%, 0%, .15), 0 3px 6px hsla(0, 0%, 0%, .10);
}

.ele4 {
  box-shadow: 0 15px 25px hsla(0, 0%, 0%, .15), 0 5px 10px hsla(0, 0%, 0%, .5);
}

.ele5 {
  box-shadow: 0 20px 40px hsla(0, 0%, 0%, .2);
}
